<ion-view view-title="Finalizar Compra" style="background: url('img/fundoAPp.jpg'); ">
    <div class="list" style="margin-top:50px;">
      <div class="card">
        <div class="item item-text-wrap">
          <h2 style="margin-left:80px;">
             Dados para entrega
             <i style="margin-left:5px;position:relative; font-size:18px;" class="ion-android-car"></i>
           </h2>
        </div>
        <div class="list list-inset">
          <label class="item item-input item-floating-label">
              <h3><input type="text" placeholder="Endereço" style="color:#808080"></input></h3>
          </label>
          <label class="item item-input item-floating-label">
              <h3><input type="text" placeholder="Bairro" style="color:#808080"></input></h3>
          </label>
          <label class="item item-input item-floating-label">
              <h3><input type="text" placeholder="Cidade" style="color:#808080"></input></h3>
          </label>
          </br>
          <button style="margin-left:40px;" class="button button-outline button-energized button-small">
            Alterar Endereço
            <i class="ion-edit"></i>
          </button>
          <button  style="margin-left:20px;" class="button button-outline button-balanced button-small">
              Novo Endereço
              <i class="ion-plus-circled"></i>
          </button>
          <div></div>
          </br>
        </div>

      </div>

  </div>


</ion-view>
