<ion-view view-title="Seja Bem Vindo">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div class="item item-avatar item-text-wrap">
                
                <strong>So Sweet Doces FInos</strong>
            </div>
        </div>
        <div class="item card-item">
            <div class="item item-avatar item-text-wrap">
                <span class="avatar" ></span>
                <strong>So Sweet Doces FInos</strong>
            </div>
        </div>
        <div class="item card-item">
            <div class="item item-avatar item-text-wrap">
                <span class="avatar" ></span>
                <strong>So Sweet Doces FInos</strong>
            </div>
        </div>
    </ion-content>
</ion-view>
