
<ion-view view-title="Perfil">
    <ion-content>
        <div class="list" style="margin-top:250px;">
              <label class="item item-input item-floating-label">
                <span class="input-label"  style="color:#C0C0C0">Nome</span>
                <input type="text"  style="color:#808080" placeholder="Nome">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label"  style="color:#C0C0C0">Email</span>
                <input type="email"  style="color:#808080" placeholder="Email">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label" style="color:	#C0C0C0">Telefone</span>
                <input  type="email"  style="color:#808080" placeholder="Telefone">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label"  style="color:#C0C0C0">CPF/CNPJ</span>
                <input type="email"  style="color:#808080" placeholder="CPF/CNPJ">
              </label>
              <div class="form-control" style="height:60px;background-color:#DCDCDC">
                  <label style="color:#808080;margin-top:15px;">Alterar Senha</label>
              </div>
              <label class="item item-input item-floating-label">
                <span class="input-label"  style="color:#C0C0C0">Senha Atual</span>
                <input type="password"  style="color:#808080" placeholder="Senha atual">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label"  style="color:#C0C0C0">Nova Senha</span>
                <input type="password"  style="color:#808080" placeholder="Nova Senha">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label"  style="color:#C0C0C0">Confirmar Senha</span>
                <input type="password"  style="color:#808080" placeholder="Confirmar Senha">
            </label>
            <button class="button button-block button-balanced">
              Salvar Alterações
            </button>
          </div>



    </ion-content>
</ion-view>
